@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
}

/* css for page1 */
.main {
    display: flex;
    width: 100%;
    padding: 104px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.head h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    align-self: stretch;
   
}

.form-select {
    border: none;
    width: 100%;
    font-size: 16px;
}

.prod {
    color: #212121;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.progess-bar {
    display: flex;
    min-width: 45%;
    justify-content: space-evenly;
    margin-top: 24px;


}

.progess-bar .ship {
    color:  #707070;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.progess-bar p {
    color:  #707070;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    position: relative;
    flex: 1;

}

.icon:after {
    content: " ";
    height: 2px;
    width: 100%;
    background: #94A3B8;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: -1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    /* margin-top: 48px; */
    position: relative;
}

label {
    color: #707070;
    font-family: inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none !important;
}

.input {
    color:  #212121;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    width: 100%;
}

.input:focus {
    outline: none;
}

.names {
    display: flex;
    gap: 16px;
}

.name {
    display: flex;
    padding: 6px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #94A3B8;
    width: 100%;
}

.form-control {
    padding: 6px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid  #94A3B8;
}

.form-control p {
    color:  #212121;
    align-self: stretch;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-group {
    margin-top: 16px;
}

.address {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.shipping {
    display: flex;
    padding: 6px 10px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid  #94A3B8;
    gap: 5px;
}

.term {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.ship {
    color:  #707070;
    font-family: inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.default {
    color:  #212121;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-button {

    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    color: #FFF;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background: #6B4EFF;
    width: 256px;
    border-radius: 8px;
    margin-top: 16px;
    right: 0;
    position: absolute;
    text-decoration: none;

}

.city {
    width: 60%;
}

.state {
    width: 40%;
}

.zipcode {
    width: 10%;
}

@media only screen and (min-width: 500px) and (max-width:1000px) {
    .content {

        margin-right: 60px;
    }
}



